@font-face {
  font-family: "Urbanist";
  src: url("../assets/font/Urbanist-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-stretch: 50% 200%;
  font-style: normal;
}

@font-face {
  font-family: "Urbanist-italic";
  src: url("../assets/font/Urbanist-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-stretch: 50% 200%;
  font-style: italic;
}

@font-face {
  font-family: "Manrope-italic";
  src: url("../assets/font/Manrope/Manrope-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-stretch: 50% 200%;
  font-style: italic;
  font-optical-sizing: auto;
}

@font-face {
  font-family: "Manrope";
  src: url("../assets/font/Manrope/Manrope-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-stretch: 50% 200%;
  font-style: normal;
}
