@import url("fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .primaryBtn {
    @apply bg-mintGreen border border-mintGreen flex flex-wrap text-Black hover:focus:bg-[#00C5C5] hover:focus:border-[#00C5C5] active:bg-[#00AFAF] active:border-[#00AFAF] disabled:bg-[#B0B6B6] disabled:border-[#B0B6B6] disabled:text-deepGreen py-4 px-5 rounded-lg font-semibold text-lg leading-[21.6px] cursor-pointer;
  }

  .secondaryBtn {
    @apply bg-transparent border-[1.5px] border-mintGreen flex flex-wrap text-[#004D4D] hover:focus:bg-[#D9FAFA] hover:focus:border-[#D9FAFA] active:bg-[#B0F4F4] active:border-[#B0F4F4] disabled:bg-[#B0B6B6] disabled:border-[#B0B6B6] disabled:text-deepGreen py-4 px-5 rounded-lg font-semibold text-lg leading-[21.6px] cursor-pointer;
  }

  .tertiaryBtn {
    @apply bg-transparent border-none flex flex-wrap text-Yellow hover:focus:bg-[#DDAA56] hover:focus:border-[#DDAA56] hover:focus:active:text-Black active:bg-[#F6BD60] active:border-[#F6BD60] disabled:bg-[#B0B6B6] disabled:border-[#B0B6B6] disabled:text-deepGreen py-4 px-5 rounded-lg font-semibold text-lg leading-[21.6px] cursor-pointer;
  }

  .inputFill {
    @apply bg-LilacWhite border border-deepGreen flex flex-wrap text-deepGreen focus:border-[#0A59F2] valid:border-[#66CC99] invalid:required:border-[#CC522C] disabled:bg-[#B0B6B6] disabled:border-[#B0B6B6] disabled:text-deepGreen py-4 px-5 rounded-lg font-semibold text-lg leading-[21.6px] cursor-pointer;
  }
}

:root {
  /* Font color */
  --nomad-font-color: Black;
  --nomad-secondary-color: White;

  /* Font style */
  --nomad-font-style-normal: normal;
  --nomad-font-style-italic: italic;

  /*other root styling*/

}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  color: var(--nomad-font-color);
  background-color: var(--nomad-secondary-color);
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
  line-height: 1.5rem;
  font-size: 1rem;
  font-weight: 400;
  color: var(--nomad-font-color);
  letter-spacing: normal;
}

h1,
h2,
h3 {
  font-weight: 600;
}

h1 {
  line-height: 4.2rem;
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  line-height: 2.4rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.8rem;
}

h4 {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.8rem;
}

p,
li {
  font-size: 1.1rem;
  line-height: 2rem;
  font-weight: 400;
}

li a {
  font-weight: 600;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}
